* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

/* debug rules */

.debug .main_container {
    background-color: red;
}

.debug .col_header {
    border: 1px solid black;
}

.debug .card_bottom, .card_top {
    border: 1px solid black;
    height: 100px;
}


/* utilities rules */

.main_container {
    width: 90%;
    max-width: 100%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.justy_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.space_betw {
    justify-content: space-between;
}

.f-wrap {
    flex-wrap: wrap;
}

/* padding rules */

.p-5 {
    padding: 5px;
}

/* header */

.col_header {
    width: 100%;
    padding: 10px;
}

.search {
    align-items: center;
    width: 70%;
    justify-content: end;
    gap: 15px;
}

.search i {
    display: none;
}

/* info section */

.row_info {
    justify-content: space-around;
    padding: 10px 0;
}

.card_top {
    width: calc(100% / 2 - 20px);
}

.card_bottom {
    width: calc(100% / 3 - 20px);
}

/* 480px display rules */

@media screen and (max-width:480px) {
    .search a {
    display: none;   
}
    .search i {
    display: block;
}
}

/* 768px display rules */

@media screen and (max-width:768px) {
    .search a {
    display: none;
}
    .search i {
    display: block;
}
}


