* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    :root {
        --rsp-primary: #9792E4;
        --rsp-secondary: #FFFFFF;
        --rsp-heanvenly: #0084FD;
        --rsp-light-heanvenly: #B5DDFF;
        --rsp-special: #FDC15F;
        --rsp-footer: #333333;    
    }

/* debug rules */







/* utilities rules */

body {
    font-family: 'Open Sans', sans-serif;
}

body p {
    line-height: 25px;
}

section {
    padding: 20px;
}

.main_container {
    width: 80%;
    max-width: 100%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.justy_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.space_betw {
    justify-content: space-between;
}

.space_evenly {
    justify-content: space-evenly;
}

.f-wrap {
    flex-wrap: wrap;
}

.tx-center {
    text-align: center;
}

.align-base {
    align-items: baseline;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* font size rules */

.font-size-20 {
    font-size: 20px;
}

.font-size-60 {
    font-size: 60px;
}

/* padding rules */

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.px-10 {
    padding: 0 10px;
}

.p-15 {
    padding: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.px-20 {
    padding-right: 20px;
    padding-left: 20px;
}

.p-20 {
    padding: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-30 {
    padding: 30px;
}

.pt-30 {
    padding-top: 30px;
}

.py-30 {
    padding: 30px 0;
}

.pb-40 {
    padding-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.pb-70 {
    padding-bottom: 70px;
}

.px-80 {
    padding-right: 80px;
    padding-left: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mt-140 {
    margin-top: 140px;
}

/* header */

header {
    background-color: var(--rsp-heanvenly);
}

.col_header {
    width: 100%;
    padding: 15px;
}

.search {
    align-items: center;
    width: 70%;
    justify-content: end;
    gap: 15px;
}

.search a {
    text-decoration: none;
    color: var(--rsp-secondary);
}

.search button {
    background-color: var(--rsp-secondary);
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.search i {
    display: none;
}

/* info section */

section {
    padding-top: 20px;
}

.row_info {
    justify-content: space-around;
    padding: 10px 0;
}

.row_info i {
    color: var(--rsp-heanvenly);
}

.row_info h3 {
    color: var(--rsp-heanvenly);
    font-family: 'Open Sans', sans-serif;
}

.card_top_left {
    width: calc(67% - 22px);
}

.card_top_right {
    width: calc(100% / 3 - 20px);
}

.card_bottom {
    width: calc(100% / 3 - 20px);
}

.card_bottom, .card_top_left, .card_top_right {
    border-radius: 20px;
    background-color: var(--rsp-light-heanvenly);
}



.get_application {
    width: calc(100% / 2);
}

.appstore_button {
    padding: 10px 55px;
    border: none;
    border-radius: 30px;
    background-color: var(--rsp-heanvenly);
    color: var(--rsp-secondary);
}

.appstore_button i {
    color: var(--rsp-secondary);
}

.apple {
    padding-right: 5px;
    font-size: 20px;
}

.get_application img {
    padding-right:20px;
    position: absolute;
    bottom: 0;
    height: 200px;
}

/* strategic section */

.strategic_bkc {
    background-color: var(--rsp-primary);
}

.strategic_container {
    max-width: 80%;
    margin: auto;
}

.row_strategic {
    width: 50%;
    padding: 20px;
}


.width-100 {
    width: 100%;
}

.width-60 {
    width: 60%;
}

.color_secondary {
    color: var(--rsp-secondary);
}

.color_secondary h3 {
    font-size: 20px;
}

.app_developement {
    padding: 30px;
    background-color: var(--rsp-secondary);
    border-radius: 30px;
}

.arrow_button {
    background-color: var(--rsp-primary);
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
}

 /* testimonial partner section */

 .testimonial h2 {
    color: var(--rsp-primary);
 }

 .bio_avatar {
    padding: 15px 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    background-color: var(--rsp-primary);
    color: var(--rsp-secondary);
 }

 .bio_avatar img, .about_us_image img {
    object-fit: cover;
    height: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
 }

/* start benefits section */

.benefit {
    background-color: var(--rsp-primary);
}

.benefit h2 {
    color: var(--rsp-secondary);
}

.benefit h3 {
    font-size: 50px;
    color: var(--rsp-primary);
}

.benefit h4 {
    color: var(--rsp-primary);
}

.card_benefits {
    background-color: var(--rsp-secondary);
    border-radius: 30px;
    padding: 30px;
    margin:10px 0px;
    width: calc(100% / 3 - 20px);
}

.card_benefits h2, .card_benefits h4, .card_benefits p {
    padding-bottom: 15px;
}

.card_benefits button {
    border-radius: 30px;
    border: none;
    padding: 10px 40px;
    background-color: var(--rsp-primary);
    color: var(--rsp-secondary);
}

/* start about us section */

.about_us h2 {
    color: var(--rsp-primary);
    font-size: 40px;
}

.about_us_text {
    width: 70%;
    padding: 20px;
}

.about_us_image {
    width: 30%;
    color: var(--rsp-primary);
}

.about_us_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about_us_card p {
    font-family: 'Open Sans', sans-serif;
}

.marks {
    top: 0px;
    position: absolute;
    left: 110px;
}

.marks i {
    font-size: 40px;
}

.linkedin_button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    left: 70px;
    background-color: var(--rsp-primary);
    color: var(--rsp-secondary);
}

/* start get started section */

.get_started {
    background-color: var(--rsp-primary);
}

.get_started span {
    color: lightgray;
}

.get_started h3 {
    color: var(--rsp-secondary);
    font-size: 40px;
}

.get_started h2 {
    color: var(--rsp-special);
    font-size: 80px;
}

.get_started p {
    color: var(--rsp-secondary);
}

.get_started a {
    color: var(--rsp-secondary);
}

.container_get_started, .container_footer {
    width: 80%;
    margin: auto;
    max-width: 1170px;
    text-align: center;
}

.get_started_button {
    border-radius: 30px;
    border: none;
    padding: 20px 60px;
    color: var(--rsp-primary);
}

.circle {
    padding: 0 5px;
    font-size: 5px;
    color: white;
}

/* start footer */
footer {
    background-color: var(--rsp-footer);
    color: var(--rsp-secondary);
}

 footer a {
    color: var(--rsp-primary);
}



/* 480px display rules */

@media screen and (max-width:480px) {
    .search a {
    display: none;   
   }
    .search i {
    display: block;
   }
    .row_info {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .card_top_left, .card_bottom {
        margin-bottom: 20px;
        flex-direction: column;
    }

    .margin_480_display {
        margin-top: 20px;
    }

    .card_top_left, .card_top_right, .card_bottom {
        width: 100%;
    }

    .get_application {
        width: 80%;
        margin: auto;
        height: 290px;
    }

    .get_application img {
        max-width: 100%;
        padding: 0;
    }

    /* strategic section */

    .strategic_container {
        max-width: 100%;
        flex-direction: column;
    }

    .row_strategic {
        width: 100%;
    }

     .mt-140 {
        margin: 0;
    }
    /* testimonial partner section */

    .bio_avatar {
        text-align: center;
        flex-direction: column;
    }

    .text_avatar p {
        padding-top: 20px;
    }

     /* start benefits section */

     .container_benefits {
        flex-direction: column;
        align-items: center;
     }
     .card_benefits {
        width: 100%;
    }

    /* start about us section */

    .about_us .main_container {
        flex-direction: column;
        align-items: center;       
    }
    .about_us_image, .about_us_text {
        width: 100%;
    }
    .about_us_card {
        align-items: normal;
    }

    .linkedin_button {
        left: 5px;
    }

    /* start get started section */

    .container_get_started p {
        flex-wrap: wrap;
    }

    .px-80 {
        padding-left: 0;
        padding-right: 0;
    }

    /* start footer */



}

/* 768px display rules */

@media screen and (min-width:481px) and (max-width:768px) {
    .search a {
    display: none;
   }
    .search i {
    display: block;
   }
   .card_top_left, .card_bottom {
    flex-direction: column;
   }

   .get_application {
    width: 100%;
    height: 100%;
   }

   .pl-768-display {
    padding-left: 50px;
   }

   .card_top_right, .card_bottom {
    padding: 0 10px;
    border-radius: 20px;
    background-color: var(--rsp-light-heanvenly);
}

   .get_application img {
    max-width: 60%;
    padding-top: 20px;
   }
    /* strategic section */ 

    .strategic_container {
        max-width: 100%;
        flex-direction: column;
    }

    .row_strategic {
        width: 100%;
        margin: 0;
    }
     /* testimonial partner section */

     /* start benefits section */

     .card_benefits {
        width: calc(100% / 2 - 20px);
    }

    /* start about us section */

    .linkedin_button {
        left: 0px;
        bottom: 0;
    }

    .about_us .width-60 {
        width: 100%;
    }

    .about_us button {
        margin-bottom: 100px;
    }

   

    /* start get started section */

    /* start footer */
}


